@model IEnumerable<WebProject.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Danh sách bình luận</h2>
<p>
    <button type=" button" class="btn btn-danger">@Html.ActionLink("Tạo mới", "Create")</button>
</p>
<table class="table table-hover table-secondary table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th> Tác vụ </th>
    </tr>   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
