@model WebProject.Models.Reservation

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Chi tiết đặt bàn:</h2>

<div style="text-align:center">
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Giờ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            Số người:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmoutPerson)
        </dd>

        <dt>
            Tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameTheBooker)
        </dd>

        <dt>
            Gmail:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailTheBooker)
        </dd>

        <dt>
            SĐT:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberTheBooker)
        </dd>

    </dl>
</div>
<p style="text-align:center">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
