@model PagedList.IPagedList<WebProject.Models.Invoice>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #holdxx {
        margin: auto;
        width: 50%;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        margin-bottom:30px;
    }
</style>
<h2 style="text-align:center">Quản Lý Hóa Đơn</h2>


<div>
    <div id="holdxx" style="margin-top:20px; padding: 3px 0px  3px 0px ; text-align:center;background-color:cornsilk;width:400px">
        @using (Html.BeginForm("Index", "Invoices", FormMethod.Get))
        {<input style="padding:3px" type="text" placeholder="Nhập ID UserName cần tìm" name="username" />
            <button style="padding:5px 30px 5px  30px;" class="btn btn-danger" type="submit"> Tìm </button>
        }
    </div>
</div>



<p style="text-align:center">
    <button class="btn btn-secondary">@Html.ActionLink(" Tạo mới", "Create", null, new { @class = "fa fa-plus fa-lg" })</button>
    <a class="btn btn-danger" href="~/Admin/Invoices/ExportExcel">Xuất Excel</a>
</p>

<h1> @ViewBag.Inform</h1>
<table class="table" style="text-align:center;">
    <tr>
        <th>
            Id khách hàng
        </th>
        <th>
            Tổng giá
        </th>
        <th>
            Ghi chú
        </th>
        <th>
            Ngày mua
        </th>
        <th>
            Tài khoàn
        </th>
        <th>
            Trạng thái
        </th>
        <th> Tác Vụ </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.IDCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>

            <td>
                @using (Html.BeginForm("Tracking", "Invoices"))
                {
                    if (item.Status == 0)
                    {
                        <input type="hidden" name="idIV" value="@item.ID" />
                        <button type="submit" style="background-color:red;text-align:center;border-radius:20px;" onclick="return confirm('Bạn có chắc đơn hàng nãy đã thành công ?')"> HĐ chưa hoàn thành </button>
                    }
                    else
                    {
                        <h3 style="background-color:deepskyblue;text-align:center;border-radius:20px;"> HĐ đã hoàn thành</h3>
                    }
                }
            </td>
            <td>
                <button class="btn btn-outline-secondary"> @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit fa-lg" })</button>
                <button class="btn btn-outline-primary"> @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-info fa-lg" })</button>
                <button class="btn btn-outline-danger"> @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa fa-trash fa-lg" })</button>
            </td>
        </tr>
    }

</table>
<h3 style="text-align:center;color:chocolate"><strong>Danh mục trang</strong></h3>

<h2 style="color:brown"> @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</h2>
