@model PagedList.IPagedList<WebProject.Models.Invoice>
@using PagedList.Mvc;
    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }

    <h2>Index</h2>
    <div>
        @using (Html.BeginForm("Index", "Invoices", FormMethod.Get))
        {<input type="text" placeholder="Nhập ID UserName cần tìm" name="username" />
            <button class="btn btn-danger" type="submit"> Tìm </button>
        }
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <a href="~/Admin/Invoices/ExportExcel">Xuat Excel</a>
    <h1> @ViewBag.Inform</h1>
    <table class="table" style="text-align:center;">
        <tr>
            <th>
                Id khách hàng
            </th>
            <th>
                Tổng giá
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Ngày mua
            </th>
            <th>
                Tài khoàn
            </th>
            <th>
                Trạng thái
            </th>
            <th> Tác Vụ </th>
        </tr>

        @foreach (var item in Model)
        {

    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.IDCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>

        <td>
            @using (Html.BeginForm("Tracking", "Invoices"))
            {
                if (item.Status == 0)
                {
                    <input type="hidden" name="idIV" value="@item.ID" />
                    <button type="submit" style="background-color:red;text-align:center;border-radius:20px;" onclick="return confirm('Bạn có chắc đơn hàng nãy đã thành công ?')"> HĐ chưa hoàn thành </button>
                }
                else
                {
                    <h3 style="background-color:deepskyblue;text-align:center;border-radius:20px;"> HĐ đã hoàn thành</h3>
                }
            }
        </td>
        <td>
            <button class="btn btn-outline-secondary"> @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit fa-lg" })</button>
            <button class="btn btn-outline-primary"> @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-info fa-lg" })</button>
            <button class="btn btn-outline-danger"> @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa fa-trash fa-lg" })</button>
        </td>
    </tr>
        }

    </table>
    <h2 style="color:brown">Trang @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</h2>
