@model PagedList.IPagedList<WebProject.Models.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #holdxx {
        margin: auto;
        width: 50%;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
    }
</style>
<h2 style="text-align:center">Danh sách người dùng</h2>

<div>
    <div id="holdxx" style="margin-top:20px; padding: 3px 0px  3px 0px ; text-align:center;background-color:cornsilk;width:400px">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {<input style="padditang:3px" type="text" placeholder="Nhập UserName cần tìm" name="username" />
            <button style="padding:5px 30px 5px  30px;" class="btn btn-danger" type="submit"> Tìm </button>
        }
    </div>
</div>
<p style="text-align:center;margin-top:20px;">
    <button class="btn btn-secondary">@Html.ActionLink(" Tạo mới", "Create", null, new { @class = "fa fa-plus fa-lg" })</button>
</p>
<table class="table table-hover table-secondary table-striped" style="text-align:center">
    <tr>
        <th>
            Tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th> Tác Vụ </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <button class="btn btn-outline-secondary"> @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit fa-lg" })</button>
                <button class="btn btn-outline-primary"> @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-info fa-lg" })</button>
                <button class="btn btn-outline-danger"> @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa fa-trash fa-lg" })</button>
            </td>
        </tr>
    }

</table>
<h3 style="text-align:center;color:chocolate"><strong>Danh mục trang</strong></h3>

<h2 style="color:brown"> @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</h2>