@model IEnumerable<WebProject.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Danh sách người dùng</h2>

<div>
    @using (Html.BeginForm("Index", "User", FormMethod.Get))
    {<input type="text" placeholder="Nhập UserName cần tìm" name="username" />
        <button class="btn btn-danger" type="submit"> Tìm </button>
    }
</div>
<p>
    <button class="btn btn-secondary">@Html.ActionLink(" Tạo mới", "Create", null, new { @class = "fa fa-plus fa-lg" })</button>
</p>
<table class="table table-hover table-secondary table-striped" style="text-align:center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th> Tác Vụ </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <button class="btn btn-outline-secondary"> @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit fa-lg" })</button>
                <button class="btn btn-outline-primary"> @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-info fa-lg" })</button>
                <button class="btn btn-outline-danger"> @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa fa-trash fa-lg" })</button>
            </td>
        </tr>
    }

</table>
