@model WebProject.Models.Cart
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Giỏ Hàng:</h2>
@if (Model != null)
{
    <table class="table" style="text-align:center;">
        <thead>
            <tr>
                <th>
                    Tên món ăn
                </th>
                <th>
                    Ảnh Minh Họa
                </th>
                <th>
                    Price
                </th>
                <th>
                    Số Lượng
                </th>
                <th>
                    Giá Tiền
                </th>
                <th> Tác Vụ</th>
            </tr>
        </thead>
        <tbody style="width:500px;">
            @foreach (var item in Model.Items)
            {
                double total = Convert.ToDouble(item.food_Cart.Price.Value * item.quantity_Cart);
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.food_Cart.FoodName)
                    </td>
                    <td>
                        <img src="~/images/@item.food_Cart.Image" style="width:100px;height:100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.food_Cart.Price)
                    </td>
                    <td style="text-align:right;">
                        @using (Html.BeginForm("Update_Quantity", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item.food_Cart.ID" name="ID_Food" />
                            <input type="number" style="width:40px;text-align:center;margin-left:100px;" value="@item.quantity_Cart" name="Quantity" />
                            <input type="submit" style="margin-left:0px;" value="Cập nhật số lượng" class=" btn btn-danger" />
                        }

                    </td>
                    <td>
                        @total VND
                    </td>
                    <td>
                        <a href="~/ShoppingCart/RemoveCart/@item.food_Cart.ID" onclick="Bạn có muốn xóa món ăn này ?">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

}
<hr />

    <h2 style="position:relative;right:30px;text-align:right;">Tổng tiền: @Model.Total() VND</h2>


    <div  style="position:relative;left:550px;">
        @using (Html.BeginForm("Order", "ShoppingCart"))
        {
            <h4> Ghi Chú: </h4>
            <input type="text" name="Note" style="width:400px" />
            <button type="submit" class="btn btn-dark" onclick="Bạn còn muốn đặt món nào nữa trước khi đặt hàng không ?">Đặt Hàng</button>
        }
    </div>

<a href="~/Home/Index" class="btn btn-secondary d-flex justify-content-center">Tiếp tục mua sắm</a>
