@model WebProject.Models.Food

@{
    ViewBag.Title = "Food_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Chi tiết món ăn</h2>
<hr />

<div style="position:relative;left:150px;">
    <dl class="dl-horizontal">
        <dt>
            Tên món ăn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Mã món ăn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDType)
        </dd>

        <dt>
            Trạng thái:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
        </dt>


    </dl>
</div>
<br />
<br />
<hr />

<div style="position:absolute; left:650px; top:190px;">
    <img style="width:650px;height:400px" src="~/images/@Html.DisplayFor(model => model.Image)" />

</div>
<p>
    @Html.ActionLink("Trở lại trang chủ", "Index", null, new { @class = "btn btn-secondary d-flex justify-content-center" });
</p>
