@model PagedList.IPagedList<WebProject.Models.Invoice>
@using PagedList.Mvc;
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;"> Lịch sử mua hàng</h2>
<table class="table" style="text-align:center;">
    <tr>
        <th>
            Id Hóa đơn
        </th>
        <th>
            Tổng giá
        </th>
        <th>
            Ghi chú
        </th>
        <th>
            Ngày mua
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Trạng thái
        </th>
        <th>Tác vụ</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>

                @if (item.Status == 0)
                {
                    <h3 style="background-color:red;text-align:center;border-radius:20px;"> Đơn đang hoàn thành</h3>
                }
                else
                {
                    <h3 style="background-color:deepskyblue;text-align:center;border-radius:20px;"> HĐ đã hoàn thành</h3>
                }
            </td>
            <td>
                <a href="~/ShoppingCart/Details/@item.ID">Chi tiết</a>
            </td>
        </tr>
    }
</table>
<h3 style="text-align:center;color:chocolate"><strong>Danh mục trang</strong></h3>

<h2 style="color:brown"> @Html.PagedListPager(Model, page => Url.Action("History", new { page }))</h2>