@model IEnumerable<WebProject.Models.Food>
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Special Menu</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>

        <div class="row inner-menu-box">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#TatCa" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Drinks</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lunch</</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dinner</a>
                </div>
            </div>

            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="TatCa" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">

                            @foreach (var item in Model)
                            {

                                <div class="col-lg-4 col-md-6 special-grid drinks" style="text-align:center;">
                                    <div class="gallery-single fix">
                                        <img src="~/images/@item.Image" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>@Html.DisplayFor(modelItem => item.FoodName)</h4>
                                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                            <h5>
                                                @Html.DisplayFor(modelItem => item.Price)

                                            </h5>
                                            <a href="~/Home/Food_Detail/@item.ID">Chi tiết</a>
                                            <a href="~/ShoppingCart/AddToCart/@item.ID" class="fa fa-cart-plus fa-2x"></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                if (item.IDType == 1)
                                {
                                    <div class="col-lg-4 col-md-6 special-grid drinks" style="text-align:center;">
                                        <div class="gallery-single fix">
                                            <img src="~/images/@item.Image" class="img-fluid" alt="Image">
                                            <div class="why-text">
                                                <h4>@Html.DisplayFor(modelItem => item.FoodName)</h4>
                                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                                <h5> @Html.DisplayFor(modelItem => item.Price)</h5>
                                                <a href="~/Home/Food_Detail/@item.ID">Chi tiết</a>
                                                <a href="~/ShoppingCart/AddToCart/@item.ID" class="fa fa-cart-plus fa-2x"></a>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                if (item.IDType == 2)
                                {
                                    <div class="col-lg-4 col-md-6 special-grid drinks" style="text-align:center;">
                                        <div class="gallery-single fix">

                                            <img src="~/images/@item.Image" class="img-fluid" alt="Image">
                                            <div class="why-text">
                                                <h4>@Html.DisplayFor(modelItem => item.FoodName)</h4>
                                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                                <h5> @Html.DisplayFor(modelItem => item.Price)</h5>
                                                <a href="~/Home/Food_Detail/@item.ID">Chi tiết</a>
                                                <a href="~/ShoppingCart/AddToCart/@item.ID" class="fa fa-cart-plus fa-2x"></a>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                if (item.IDType == 3)
                                {
                                    <div class="col-lg-4 col-md-6 special-grid drinks" style="text-align:center;">
                                        <div class="gallery-single fix">
                                            <img src="~/images/@item.Image" class="img-fluid" alt="Image">
                                            <div class="why-text">
                                                <h4>@Html.DisplayFor(modelItem => item.FoodName)</h4>
                                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                                <h5> @Html.DisplayFor(modelItem => item.Price)</h5>
                                                <a href="~/Home/Food_Detail/@item.ID">Chi tiết</a>
                                                <a href="~/ShoppingCart/AddToCart/@item.ID" class="fa fa-cart-plus fa-2x"></a>
                                            </div>
                                        </div>
                                    </div>

                                }

                            }

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>