@model PagedList.IPagedList<WebProject.Models.Food>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #holdxx {
        margin: auto;
        width: 50%;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
    }
</style>
<div style="font-family:sans-serif">
    <h2 style="text-align:center">Danh sách thực đơn</h2>


    <div>
        <div id="holdxx" style="margin-top:20px; padding: 3px 0px  3px 0px ; text-align:center;background-color:cornsilk;width:400px">
            @using (Html.BeginForm("Index", "Food", FormMethod.Get))
            {<input style="padding:3px" type="text" placeholder="Nhập tên món cần tìm" name="foodname" />
                <button style="padding:5px 30px 5px  30px;" class="btn btn-danger" type="submit"> Tìm </button>
            }
        </div>
    </div>


    <p style="text-align:center">
        <button class="btn btn-secondary">@Html.ActionLink(" Tạo mới", "Create", null, new { @class = "fa fa-plus fa-lg" })</button>
    </p>
    <table class="table table-hover table-secondary table-striped" style="text-align:center">
        <tr>
            <th>
                Id
            </th>
            <th>
                Tên món
            </th>
            <th>
                Giá
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Loại món ăn
            </th>
            <th> Tác Vụ</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img style="width:50px;height:50px" src="~/images/@item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfFood.TypeName)
                </td>
                <td>
                    <button class="btn btn-outline-secondary"> @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit fa-lg" })</button>
                    <button class="btn btn-outline-primary"> @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-info fa-lg" })</button>
                    <button class="btn btn-outline-danger"> @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa fa-trash fa-lg" })</button>
                </td>
            </tr>
        }

    </table>
    <h3 style="text-align:center;color:chocolate"><strong>Danh mục trang</strong></h3>

    <h2 style="color:brown"> @Html.PagedListPager(Model, page => Url.Action("History", new { page }))</h2>
</div>