@model WebProject.Models.DetailedInvoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2  style="text-align:center">Chi tiết hóa đơn</h2>

<div  style="text-align:center">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IntoMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntoMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food.FoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food.FoodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.Note)
        </dd>

    </dl>
</div>
<p  style="text-align:center">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
